*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
./*.jar
#*.war
#*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# binary dir
bin/
build/
dist/

# git diff files
*.orig

# test logs
derby.log
/TeamDatabase
/488Logs

# dynamically generated properties files
netconsole-host.properties
WPI_Native_Libraries.properties

# JetBrains
.idea/
/*.iml

#Gradle
.gradle/

#Eclipse (build tools used by VS Code)
.settings/
.classpath
.factorypath
.project
.apt_generated*
*.dll

#Claude
.claude/