<Configuration>
   <Properties>
      <Property name="filePattern">488Logs/default</Property>
   </Properties>
   <Appenders>
      <Console name="STDOUT" target="SYSTEM_OUT">
         <PatternLayout pattern="%5p | %d | %L | %-40c{1} | %m%n"/>
      </Console>
      <RollingFile name="File" fileName="${filePattern}.log" filePattern="${filePattern}-%i.log">
         <PatternLayout pattern="%5p | %d | %L | %-40c{1} | %m%n"/>
         <Policies>
            <OnStartupTriggeringPolicy/>
         </Policies>
         <DefaultRolloverStrategy max="10"/>
      </RollingFile>
   </Appenders>
   <Loggers>
      <Logger name="org.apache.log4j.xml" level="info"/>
      <Root level="debug">
         <AppenderRef ref="STDOUT"/>
         <AppenderRef ref="File"/>
      </Root>
   </Loggers>
</Configuration>